<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/style_gen.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body style="display: flex;">
	<div class="flex-column">
		<div class="bonjour"> Bonjour {{ current_user.login }} .. <br> <div style="color: #0dd20d"> {{ message }} </div> </div>
		<div class="main">
			<div class="act" >
				<a href="/consult" > Consulter mes activités </a>
			</div>

			<div class="act">
				<a href="/add" > Mon rapport d'activité du jour </a>
			</div>
		</div>
	</div>

	<div class="signout"> <a href="/signout"> Se déconnecter </a> </div>



</body>
</html>