<!DOCTYPE html>
<html>
<head>
	<title>Modifier mon activité</title>
	<link rel="stylesheet" type="text/css" href="static/style_gen.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="flex-column">
		<div class="bonjour"> Modifier mon activité d'aujourd'hui ..  </div>
		<form action="/edit" method="post">
		<div class="main flex-column">
			<textarea name="activity" placeholder="Veuillez saisir votre activité d'aujourd'hui" class="saisie">{{ activity }}</textarea>
			<div class="flex-row">
				<div ><input class="button" type="submit" value="Envoyer" /></div>
				<div ><input class="button" type="reset" value="Annuler" /></div>

			</div>
		</div>
			</form>
	</div>

	<div class="signout"> <a href="/signout"> Se déconnecter </a> </div>



</body>
</html>